Source: libjwt
Priority: optional
Maintainer: Ben Collins <ben@cyphre.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, autoconf, libjansson-dev, libssl-dev, pkg-config, check
Standards-Version: 3.9.4
Section: libs
Vcs-Browser: https://github.com/benmcollins/libjwt
Vcs-Git: https://github.com/benmcollins/libjwt.git

Package: libjwt-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libjwt0 (= ${binary:Version})
Description: Development files for JWT C Library
 JSON Web Token (JWT) is a compact, URL-safe means of representing
 claims to be transferred between two parties. The claims in a JWT
 are encoded as a JavaScript Object Notation (JSON) object that is
 used as the payload of a JSON Web Signature (JWS) structure or as the
 plaintext of a JSON Web Encryption (JWE) structure, enabling the
 claims to be digitally signed or MACed and/or encrypted.
 .
 This library supports encoding, decoding, and manipulating a JWT. It
 supports HS256, HS384, and HS512 signatures.

Package: libjwt0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JWT C Library
 JSON Web Token (JWT) is a compact, URL-safe means of representing
 claims to be transferred between two parties. The claims in a JWT
 are encoded as a JavaScript Object Notation (JSON) object that is
 used as the payload of a JSON Web Signature (JWS) structure or as the
 plaintext of a JSON Web Encryption (JWE) structure, enabling the
 claims to be digitally signed or MACed and/or encrypted.
 .
 This library supports encoding, decoding, and manipulating a JWT. It
 supports HS256, HS384, and HS512 signatures.
